main { 
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    width: 200px; 
    margin-left: calc((100% - 200px) / 2);
    margin-top: 2%;
    display: inline-block; 
    margin-bottom: 0;   
}
h1 {font-size: 100px;
}
h2 {
    margin-top: 0;
    font-size: 30px;
}
p {
    font-size: 25px;
}
img {
    width: 1000px; 
    margin-top: 0;  
    margin-left: calc((100% - 1000px) / 2);
    margin-top: -5%;
    float: left;
    margin-bottom: 0%; 
}
div {
    width: 315px; 
    margin: 0;
    margin-left: calc((100% - 315px) / 2);
    float: left;   
}
aside { 
    margin-top: 100px; 
    width: 315px; 
    margin-left: calc((100% - 315px) / 2);
    margin-bottom: 5%;
    float: left;
}
a {
    border-style: solid; 
    background-color: #3CAB32; 
    text-decoration-line: none; 
    padding: 10px 20px; 
    border-color: #3CAB32; 
    color: white;
}
a :first-child {
    margin-right: 9%
}




